.itemBox {
  background-color: lightblue;
  display: flex;
  margin-top: 2%;
  height: 3vh;
  align-items: center;
  border-radius: 20px;
  padding: 10px 20px;
  justify-content: space-between;
}
.itemBox.active {
  background-color: pink;
  color: red;
}
button.import {
  background-color: green;
}
button.delete {
  background-color: red;
}
