.listBox {
  border: 1px solid lightgray;
  width: auto;
  height: auto;
  padding: 30px;
  margin: 10% 25%;
  .title {
    display: flex;
    justify-content: center;
    div {
      font-size: xx-large;
      font-weight: bolder;
    }
    .done {
      color: darkred;
    }
  }
  .todoBox {
    display: flex;
    margin: 10%;
  }
  .list {
    margin: 10%;
  }
}
